body {
  background: #FFFFFF;
  color: #22282F;
  font-family: 'Raleway';
}

p {
  color: #E9F0F5;
  text-align: center;
  text-shadow: 0.5px 0.5px 0 rgba(#22282F, 0.5);
}

h1 {
  color: #22282F;
  text-align: center;
  text-shadow: 0.5px 0.5px 0 rgba(#E9F0F5, 0.5);
}

.workspace {
  margin: 0 auto;
  max-height: 500px;
  max-width: 100%;
  width: 800px;
}

.letterM {
 fill: #FF1D25;
}

.lettersARS {
 fill: #000000;
}

.frame {
  fill: #000;
  stroke: #CCC;
  stroke-width: 2px;
  .steve & {
    fill: #F2E0BD;
    stroke-width: 0;
  }
}

.screen {
 fill: #22282F;
  .steve & {
    fill: #666;
  }
}

.button {
 fill: #22282F;
  
 transition: all 0.5s;
  
  .iMac & {
    fill: #CCC;
  }
  .steve & {
    fill: #22282F;
  }
}

.button-mark {
 fill: none;
  stroke: #E9F0F5;
  
  .iMac & {
    fill: #666;
  }
  .steve & {
    fill: #666;
    stroke-width: 0;
  }
}